@import "tailwindcss";

body {
  background-color: rgb(45, 43, 43);
  min-height: 100%;
}

#root {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  justify-content: center;
}
